table {
  /* border: 1px solid #ccc; */
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  border-radius: 5px;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 0.35em;
}

table th{
  background-color: #f8fafc;
  padding: 0.625em;
  text-align: center;
  color: #94a3b8;
  font-weight: 100;
}
table td {
  padding: 0.625em;
  text-align: center;
  font-weight: 100;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

table tr:last-child {
  border-bottom: 0;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    border-radius: 5px;
    position: absolute;
    width: 1px;
  }

  table tr {
    /* border-bottom: 3px solid #ddd; */
    display: block;
    /* border-radius: 5px; */
    margin-bottom: 0.625em;
  }

  table td {
    /* border-bottom: 1px solid #ddd; */
    display: block;
    /* border-radius: 5px; */
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
  